Repository PlaceOS/frontend-loader, pull requests merged in 2022-05, with the labels that each got.

#65 fix(remote): only listing a single commit
  spec/api/remotes_spec.cr
  src/placeos-frontend-loader/api/remote/generic.cr
  src/placeos-frontend-loader/api/remote/git.cr
  src/placeos-frontend-loader/api/remote/github.cr
  src/placeos-frontend-loader/api/remote/remote.cr
  src/placeos-frontend-loader/client.cr
Labels: product: placeos, priority: high, squad: core, focus: backend, type: bug

#66 feat: refactor using git-repository
  .gitignore
  shard.lock
  shard.yml
  spec/api/remotes_spec.cr
  spec/api/repositories_spec.cr
  spec/gitlab_spec.cr
  spec/helper.cr
  spec/loader_spec.cr
  src/app.cr
  src/config.cr
  src/constants.cr
  src/placeos-frontend-loader/api/remote/commit.cr
  src/placeos-frontend-loader/api/remote/generic.cr
  src/placeos-frontend-loader/api/remote/git.cr
  src/placeos-frontend-loader/api/remote/github.cr
  src/placeos-frontend-loader/api/remote/gitlab.cr
  src/placeos-frontend-loader/api/remote/remote.cr
  src/placeos-frontend-loader/api/remotes.cr
  src/placeos-frontend-loader/api/repositories.cr
  src/placeos-frontend-loader/client.cr
  src/placeos-frontend-loader/loader.cr
Labels: product: placeos, priority: high, focus: backend, type: enhancement

#48 ci: service spec runner
  docker-compose.yml
  scripts/crystal-spec.sh
  scripts/entrypoint.sh
  test
Labels: focus: devops, priority: low

#67 fix(loader): provide feedback of the deployed commit hash
  shard.lock
  spec/loader_spec.cr
  src/placeos-frontend-loader/loader.cr
Labels: type: bug
